#FORM
{
    background:linear-gradient(to right,cyan,green);
    color: black;
}
.accordian-item{
    box-shadow: 5px black;
    border-radius: 5px 5px;
}
.container{
    position: relative;
    left: 12%;
}
